h1 {
    text-align: center;
    font-weight: bolder;
}

body {
    background-color: #fca6c9;
    font-family: Trebuchet MS;
    text-align: center;
}

main {
    position: relative;
    padding: 20px;
    color: black;
    max-width: 500px;
    margin: auto;
    display: inline-block;
}

img {
    width: 125px;
}

.list{
    text-align: left;
    font-weight: bold;
    font-size: 12px;
    margin: auto;
}

#quote{
    margin: auto;
    border: 10px;
    padding:30px;
    max-width: 150px;
    font-weight: bolder;
    color: white;
}